<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SpaceTeam
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    .top
      i.fa.fa-angle-double-up
    .header
      .wrapper
        .header__wrap
          a(href='/')
            img.header__logo(src='/img/logo.png')
          .header__phone +7 (727) 356-53-86
          a(href='#').header__recontrain Записаться на тренировку
        .header__wrap
          img.header__logo-marathon(src='/img/logo-marathon.png')
          .header__time
            .header__time(data-text="Дней") 290
            .header__time(data-text="Час.") 22
            .header__time(data-text="Мин.") 22
            .header__time(data-text="Сек.") 03
    nav.menu
      .wrapper
        .menu__wrap
          nav.menu__item
            a.menu__link(href='#') Программы
          nav.menu__item
            a.menu__link(href='#') Календарь
          nav.menu__item
            a.menu__link(href='#') Тренеры
          nav.menu__item
            a.menu__link(href='#') Мероприятия
          nav.menu__item
            img.menu__zipper(src="/img/lightning.png")
            a.menu__link(href='#') LIfe in space
          nav.menu__item
            a.menu__link(href='#') Галерея
          nav.menu__item
            a.menu__link(href='#') Сборы
        .menu__wrap
          nav.menu__item
            a(href='#')
              img.menu__facebook(src='/img/logo-facebook.png')
          nav.menu__item
            a(href='#')
              img.menu__insta(src='/img/logo-insta.png')
          nav.menu__item
            a(href='#')
              img.menu__youtube(src='/img/logo-youtube.png')
          nav.menu__item
            a(href='#')
              img.menu__question(src='/img/logo-question.png')
          nav.menu__item
            a(href='#')
              img.menu__search(src='/img/logo-search.png')
    .title Let's go to Space
    nav.sport-menu
      .wrapper
        nav.sport-menu__item
          a.sport-menu__link(href='#') Все виды спорта
        nav.sport-menu__item
          a.sport-menu__link(href='#') Бег
        nav.sport-menu__item
          a.sport-menu__link(href='#') Плавание
        nav.sport-menu__item
          a.sport-menu__link(href='#') Триатлон
        nav.sport-menu__item
          a.sport-menu__link(href='#') Трейл
        nav.sport-menu__item
          a.sport-menu__link(href='#') Акватлон
    .half-maraphon
      .wrapper
        .half-maraphon__wrap
          .half-maraphon__image
            img(src="/img/1.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
          .half-maraphon__image
            img(src="/img/2.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
          .half-maraphon__image
            img(src="/img/3.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
          .half-maraphon__image
            img(src="/img/4.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
    .seemore
      img.seemore__img(src="/img/circle.png")
      a(href='#').seemore__title Посмотреть ещё
    hr
    .training
      .training__title Программы обучения
      .training__discription Наши услуги будут полезны для начинающих и детей, любителей, профессиональный уровень, тренировок и подготовка к стартам, контроль питания и здоровья
      .training__menu
        .wrapper
          a.training__button(href='#')
            img.training__image(src='/img/run.png')
            .training__text Бег
          a.training__button(href='#')
            img.training__image(src='/img/trail.png')
            .training__text Трейл
          a.training__button(href='#')
            img.training__image(src='/img/swim.png')
            .training__text Плавание
          a.training__button(href='#')
            img.training__image(src='/img/triathlon.png')
            .training__text Триатлон
          a.training__button(href='#')
            img.training__image(src='/img/aquatlon.png')
            .training__text Акватлон
    .programs
      .wrapper
        .programs__image-wrap
          .programs__image
            img(src="/img/5.png")
            .programs__image-shadow
            .programs__image-absolute
              .programs__image-header ПАКЕТ «БАЗОВЫЙ»
              .programs__image-text 200$ за 1 месяц
              ul.programs__image-ul
                li.programs__image-li — Разработка персонального тренировочного плана
                li.programs__image-li — Контроль за его выполнением
                li.programs__image-li — Еженедельный план работы
                li.programs__image-li — Персональный тренер
                li.programs__image-li — Три групповые тренировки в неделю
                li.programs__image-li — Две персональные тренировки в месяцмм
                li.programs__image-li — Неограниченнон общение через электронные средства связи
              .programs__image-button
                a.programs__image-link(href="#") Записаться ▶
          .programs__image
            img(src="/img/6.png")
            .programs__image-shadow
            .programs__image-absolute
              .programs__image-header ПАКЕТ «Аквантол»
              .programs__image-text 150$ за 1 месяц
              ul.programs__image-ul
                li.programs__image-li — Разработка персонального тренировочного плана
                li.programs__image-li — Контроль за его выполнением
                li.programs__image-li — Еженедельный план работы
                li.programs__image-li — Персональный тренер
                li.programs__image-li — Три групповые тренировки в неделю
                li.programs__image-li — Две персональные тренировки в месяцмм
                li.programs__image-li — Неограниченнон общение через электронные средства связи
              .programs__image-button
                a.programs__image-link(href="#") Записаться ▶
          .programs__image
            img(src="/img/7.png")
            .programs__image-shadow
            .programs__image-absolute
              .programs__image-header Бесплатная тренировка
              .programs__image-text2 Первая спортивная цель. Первые тренировки. Первый в жизни забег. Первый финиш и первая медаль. И все это - исключительно в удовольствие. Подготовиться и одолеть десятку - идеальный повод влюбиться в бег сразу и надолго
              .programs__image-button
                a.programs__image-link(href="#") Записаться ▶
          .programs__image.programs__image_before-after
            img(src="/img/8.png")
            .programs__image-absolute.programs__image-absolute_col
              .programs__image-header.programs__image-header_wid Лучший марафонец Европы 2007
              .programs__image-text Беговой опыт 1000 км.
              .programs__image-text2.programs__image-text2_tw Мастер спорта международного класса по марафону, экс-рекордсмен Украины по марафону, лучший марафонец Европы 2007 победитель марафона в австрийском Линце с результатом 2:07'33"
              .programs__image-buttons
                .programs__image-button.programs__image-button_col
                  a.programs__image-link.programs__image-link_col(href="#") Подробнее ▶
                .programs__image-button
                  a.programs__image-link(href="#") Записаться ▶
    .seemore
      img.seemore__img(src="/img/circle.png")
      a(href='#').seemore__title Посмотреть ещё
    .map
      .map__button
        a(href='#') Локации тренировок
      .map__image-shadow
    .reviews-header Отзывы
    .reviews
      .reviews-wrapper
        .reviews-container
          .reviews__left
            img.reviews__img(src='/img/face1.png')
            .reviews__text
              .reviews__img-header Владимир Дегтярев
              .reviews__img-text1  35 лет, Киев, Украина  
              .reviews__img-text2 Директор PR-агентства, создатель сервиса беговых экскурсий Kyiv Running Tours  
              .reviews__img-text2 https://www.facebook.com/vdehtyarov
          .reviews__right
            img.reviews__img2(src='/img/back-color.png')
            .reviews__img-text3 Работа с Данилом и его командой очень похожа на работу с отличными бизнес-консультантами. Они умеют держать в голове далекую цель и быстро адаптироваться под новые вводные. За первый сезон работы с Данилом я провел четыре длинных старта (AbuDhabi Short Distance, Ironman 70.3 France, Ironman 70.3 Budapest и IronSolo). При сравнительно небольшом еженедельном объеме мне удалось сбросить 35 минут с предыдущего лучшего личного результата на "половинке", пройти свою первую полную "железную" дистанцию и при этом сохранить баланс в личной и профессиональной жизни. 
        .reviews-container
          .reviews__left
            img.reviews__img(src='/img/face2.jpg')
          .reviews__right.reviews__right_clear
            .reviews__text
              .reviews__img-header Владимир Дегтярев
              .reviews__img-text1  35 лет, Киев, Украина  
              .reviews__img-text2 Директор PR-агентства, создатель сервиса беговых экскурсий Kyiv Running Tours  
              .reviews__img-text2 https://www.facebook.com/vdehtyarov
