<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SpaceTeam
    link(rel="stylesheet", href="css/style.css")
  body
    .header
      .wrapper
        .header__wrap
          a(href='/')
            img.header__logo(src='/img/logo.png')
          .header__phone +7 (727) 356-53-86
          a(href='#').header__recontrain Записаться на тренировку
        .header__wrap
          img.header__logo-marathon(src='/img/logo-marathon.png')
          .header__time
            .header__time(data-text="Дней") 290
            .header__time(data-text="Час.") 22
            .header__time(data-text="Мин.") 22
            .header__time(data-text="Сек.") 03
    nav.menu
      .wrapper
        .menu__wrap
          nav.menu__item
            a.menu__link(href='#') Программы
          nav.menu__item
            a.menu__link(href='#') Календарь
          nav.menu__item
            a.menu__link(href='#') Тренеры
          nav.menu__item
            a.menu__link(href='#') Мероприятия
          nav.menu__item
            img.menu__zipper(src="/img/lightning.png")
            a.menu__link(href='#') LIfe in space
          nav.menu__item
            a.menu__link(href='#') Галерея
          nav.menu__item
            a.menu__link(href='#') Сборы
        .menu__wrap
          nav.menu__item
            a(href='#')
              img.menu__facebook(src='/img/logo-facebook.png')
          nav.menu__item
            a(href='#')
              img.menu__insta(src='/img/logo-insta.png')
          nav.menu__item
            a(href='#')
              img.menu__youtube(src='/img/logo-youtube.png')
          nav.menu__item
            a(href='#')
              img.menu__question(src='/img/logo-question.png')
          nav.menu__item
            a(href='#')
              img.menu__search(src='/img/logo-search.png')
    .title Let's go to Space
    nav.sport-menu
      .wrapper
        nav.sport-menu__item
          a.sport-menu__link(href='#') Все виды спорта
        nav.sport-menu__item
          a.sport-menu__link(href='#') Бег
        nav.sport-menu__item
          a.sport-menu__link(href='#') Плавание
        nav.sport-menu__item
          a.sport-menu__link(href='#') Триатлон
        nav.sport-menu__item
          a.sport-menu__link(href='#') Трейл
        nav.sport-menu__item
          a.sport-menu__link(href='#') Акватлон
    .half-maraphon
      .wrapper
        .half-maraphon__wrap
          .half-maraphon__image
            img(src="/img/1.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
          .half-maraphon__image
            img(src="/img/2.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
          .half-maraphon__image
            img(src="/img/3.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
          .half-maraphon__image
            img(src="/img/4.png")
            .half-maraphon__text Полумарафон
            .half-maraphon__text1 в Мюнхине
    .seemore
      img.seemore__img(src="/img/circle.png")
      a(href='#').seemore__title Посмотреть ещё
    hr
    .training
      .training__title Программы обучения
      .training__discription Наши услуги будут полезны для начинающих и детей, любителей, профессиональный уровень, тренировок и подготовка к стартам, контроль питания и здоровья
      .training__menu
        .wrapper
          a.training__button(href='#')
            img.training__image(src='/img/run.png')
            .training__text Бег
          a.training__button(href='#')
            img.training__image(src='/img/trail.png')
            .training__text Трейл
          a.training__button(href='#')
            img.training__image(src='/img/swim.png')
            .training__text Плавание
          a.training__button(href='#')
            img.training__image(src='/img/triathlon.png')
            .training__text Триатлон
          a.training__button(href='#')
            img.training__image(src='/img/aquatlon.png')
            .training__text Акватлон
    .programs
      .wrapper
        .programs__image-wrap
          .programs__image
            img(src="/img/5.png")
            .programs__image-absolute
              .programs__image-header ПАКЕТ «БАЗОВЫЙ»
              .programs__image-text 200$ за 1 месяц
              ul.programs__image-ul
                li.programs__image-li Разработка персонального тренировочного плана
                li.programs__image-li Контроль за его выполнением
                li.programs__image-li Еженедельный план работы
                li.programs__image-li Персональный тренер
                li.programs__image-li Три групповые тренировки в неделю
                li.programs__image-li Две персональные тренировки в месяцмм
                li.programs__image-li Неограниченнон общение через электронные средства связи
              a.programs__image-button(href="#") Записаться
          .programs__image
            img(src="/img/6.png")
            .programs__image-absolute
              .programs__image-header ПАКЕТ «БАЗОВЫЙ»
              .programs__image-text 200$ за 1 месяц
              ul.programs__image-ul
                li.programs__image-li Разработка персонального тренировочного плана
                li.programs__image-li Контроль за его выполнением
                li.programs__image-li Еженедельный план работы
                li.programs__image-li Персональный тренер
                li.programs__image-li Три групповые тренировки в неделю
                li.programs__image-li Две персональные тренировки в месяцмм
                li.programs__image-li Неограниченнон общение через электронные средства связи
              a.programs__image-button(href="#") Записаться
          .programs__image
            img(src="/img/7.png")
            .programs__image-absolute
              .programs__image-header ПАКЕТ «БАЗОВЫЙ»
              .programs__image-text2 Первая спортивная цель. Первые тренировки. Первый в жизни забег. Первый финиш и первая медаль. И все это - исключительно в удовольствие. Подготовиться и одолеть десятку - идеальный повод влюбиться в бег сразу и надолго
              a.programs__image-button(href="#") Записаться
          .programs__image
            img(src="/img/8.png")
            .programs__image-absolute
              .programs__image-header ПАКЕТ «БАЗОВЫЙ»
              .programs__image-text 200$ за 1 месяц
              .programs__image-text2 Первая спортивная цель. Первые тренировки. Первый в жизни забег. Первый финиш и первая медаль. И все это - исключительно в удовольствие. Подготовиться и одолеть десятку - идеальный повод влюбиться в бег сразу и надолго
              a.programs__image-button(href="#") Записаться
