<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SpaceTeam
    link(rel="stylesheet", href="css/style.css")
  body
    .header
      a(href='/')
        img.header__logo(src='/img/logo.png')
      .header__phone +7 (727) 356-53-86
      a(href='/').header__recontrain Записаться на тренировку
      img.header__logo-marathon(src='/img/logo-marathon.png')
      .header__time
        .header__time(data-text="Дней") 290
        .header__time(data-text="Час.") 22
        .header__time(data-text="Мин.") 22
        .header__time(data-text="Сек.") 03
