<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SpaceTeam
    link(rel="stylesheet", href="css/style.css")
  body
    header
      a(href='/')
        img.logo(src='img/logo.png', alt='')
      .phone +7 (727) 356-53-86
      a(href='#').workout Записаться на тренировку
      img.logo-marathon(src='img/logo-marathon.png', alt='')
    nav.menu
      nav.menu__item
        a.menu__link(href='#') Программы
      nav.menu__item
        a.menu__link(href='#') Календарь
      nav.menu__item
        a.menu__link(href='#') Тренеры
      nav.menu__item
        a.menu__link(href='#') Мероприятия
      nav.menu__item
        a.menu__link.menu__link_z(href='#') LIfe in space
      nav.menu__item
        a.menu__link(href='#') Галерея
      nav.menu__item
        a.menu__link(href='#') Сборы
      a(href='#')
        img.menu__facebook(src='img/logo-facebook.png', alt='')
      a(href='#')
        img.menu__insta(src='img/logo-insta.png', alt='')
      a(href='#')
        img.menu__youtube(src='img/logo-youtube.png', alt='')
      a(href='#')
        img.menu__question(src='img/logo-question.png', alt='')
      a(href='#')
        img.menu__search(src='img/logo-search.png', alt='')
    .title Let's go to Space
    nav.sport-menu
      nav.sport-menu__item
        a.sport-menu__link(href='#') Все виды спорта
      nav.sport-menu__item
        a.sport-menu__link(href='#') Бег
      nav.sport-menu__item
        a.sport-menu__link(href='#') Плавание
      nav.sport-menu__item
        a.sport-menu__link(href='#') Триатлон
      nav.sport-menu__item
        a.sport-menu__link(href='#') Трейл
      nav.sport-menu__item
        a.sport-menu__link(href='#') Акватлон
    .half-marathon
      .half-marathon__1
      .half-marathon__2
      .half-marathon__3
      .half-marathon__4
      a.half-marathon__seemore(href='#') Посмотреть еще
    hr
    .studying-programs
      .studying-programs__title Программы обучения
      .studying-programs__description Наши услуги будут полезны для начинающих и детей, любителей, профессиональный уровень, тренировок и подготовка к стартам, контроль питания и здоровья

