<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SpaceTeam
    link(rel="stylesheet", href="css/style.css")
  body
    .header
      a(href='/')
        img.header__logo(src='/img/logo.png')
      .header__phone +7 (727) 356-53-86
      a(href='#').header__recontrain Записаться на тренировку
      img.header__logo-marathon(src='/img/logo-marathon.png')
      .header__time
        .header__time(data-text="Дней") 290
        .header__time(data-text="Час.") 22
        .header__time(data-text="Мин.") 22
        .header__time(data-text="Сек.") 03
    nav.menu
      nav.menu__item
        a.menu__link(href='#') Программы
      nav.menu__item
        a.menu__link(href='#') Календарь
      nav.menu__item
        a.menu__link(href='#') Тренеры
      nav.menu__item
        a.menu__link(href='#') Мероприятия
      nav.menu__item
        a.menu__link(href='#') LIfe in space
      nav.menu__item
        a.menu__link(href='#') Галерея
      nav.menu__item
        a.menu__link(href='#') Сборы
      a(href='#')
        img.menu__facebook(src='/img/logo-facebook.png')
      a(href='#')
        img.menu__insta(src='/img/logo-insta.png')
      a(href='#')
        img.menu__youtube(src='/img/logo-youtube.png')
      a(href='#')
        img.menu__question(src='/img/logo-question.png')
      a(href='#')
        img.menu__search(src='/img/logo-search.png')
    .title Let's go to Space
    nav.sport-menu
      nav.sport-menu__item
        a.sport-menu__link(href='#') Все виды спорта
      nav.sport-menu__item
        a.sport-menu__link(href='#') Бег
      nav.sport-menu__item
        a.sport-menu__link(href='#') Плавание
      nav.sport-menu__item
        a.sport-menu__link(href='#') Триатлон
      nav.sport-menu__item
        a.sport-menu__link(href='#') Трейл
      nav.sport-menu__item
        a.sport-menu__link(href='#') Акватлон
    .half-maraphon
      .half-maraphon__wrap
        img.half-maraphon__image(src="/img/1.png")
        span.half-maraphon__text Полумарафон в Мюнхине
      .half-maraphon__wrap
        img.half-maraphon__image(src="/img/2.png")
        span.half-maraphon__text Полумарафон в Мюнхине
      .half-maraphon__wrap
        img.half-maraphon__image(src="/img/3.png")
        span.half-maraphon__text Полумарафон в Мюнхине
      .half-maraphon__wrap
        img.half-maraphon__image(src="/img/4.png")
        span.half-maraphon__text Полумарафон в Мюнхине
      a(href='#').half-maraphon__seemore Посмотреть ещё
    hr
    .training
      .training__title Программы обучения
      .training__discription Наши услуги будут полезны для начинающих и детей, любителей, профессиональный уровень, тренировок и подготовка к стартам, контроль питания и здоровья
      .training__menu
        a.training__button(href='#')
          img.training__image(src='/img/run.png')
          .training__text Бег
        a.training__button(href='#')
          img.training__image(src='/img/trail.png')
          .training__text Трейл
        a.training__button(href='#')
          img.training__image(src='/img/swim.png')
          .training__text Плавание
        a.training__button(href='#')
          img.training__image(src='/img/triathlon.png')
          .training__text Триатлон
        a.training__button(href='#')
          img.training__image(src='/img/aquatlon.png')
          .training__text Акватлон
