@import 'fonts.styl'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: 0
body
  font-family: "Open Sans"

.header
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  &__logo
    width: 100%
    padding: 5px
  &__phone
    text-transform: uppercase
    color: #000
    font-size: 20px
  &__recontrain
    color: #000
    font-size: 15px
    border-bottom: 1px dashed #000
    transition: .5s
    text-decoration: none
    &:hover
      border-color: transparent
  &__logo-marathon
    padding-left: 240px
  &__time
    color: #00bcd9
    font-size: 30px
    font-weight: 600
    font-style: italic
    text-transform: uppercase
  &__time
    position: relative
    display: inline-block
    margin 0 5px
    font-size: 30px
    &:after
      content: attr(data-text)
      position: absolute
      top: 80%
      right: 0
      font-size 10px
.menu
  display: flex
  justify-content: space-between
  align-items: center
  background-color: #000
  padding: 0 5px
  &__item
      padding: 20px 0
  &__link
    text-decoration: none
    color: #fff
    text-transform: uppercase
    transition: .5s
    &:hover
      color: #00bcd9
  &__facebook
    margin-left: 180px
  &__question
    padding: 0 15px
    border-right: 1px solid #fff
    border-left: 1px solid #fff
.title
  color: #000
  font-size: 40px
  font-weight: 600
  text-transform: uppercase
  text-align: center
  margin-top: 70px
.sport-menu
  display: flex
  justify-content: center
  align-items: center
  margin-top: 50px
  &__item
    padding: 0 10px
  &__link
    color: #000
    text-decoration: none
    transition: .5s
    border-bottom: 1px solid transparent
    &:hover
      color: #00bcd9
      border-bottom: 1px solid #00bcd9
.half-maraphon
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin-top: 45px
  &__img
    padding: 5px

.seemore
  font-size: 18px
  text-transform: uppercase
  margin-top: 50px
  position: relative
  text-decoration: none
  color: #000
  margin-bottom: 66px
  transition: .5s
  border-color: transparent
  &:before
    content: ""
    background-image url('/img/circle.png')
    width: 16px
    height: 16px
    position: absolute
    top: 5px
    right: 100%
    display: inline-block
    margin-right: 16px
  &:hover
    color: #00bcd9
    border-bottom: 1px solid #00bcd9
